ul {
  list-style-type: none;
  height: 85%;
}

ul li a svg {
  padding: 10px;
}

ul li {
  margin: 20px 7px 20px 7px;
  display: flex;
  white-space: nowrap;
  transition: all 0.3s ease;
}

ul li:last-child {
  outline: 3px solid red;
}

ul li:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease;

}

ul li a span {
  margin-left: 30px;
  font-size: 20px;
  position: relative;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.active ul li a span {
  opacity: 1;
  transition: opacity 0.5s ease;
}

header span {
  position: absolute;
  opacity: 0;
  left: 0;
  margin-left: 16px;
}

.active header span {
  opacity: 1;
  transition: all 0.5s ease;
}

.toggler {
  margin: auto;
  margin-right: 0;
  z-index: 1;
  transition: all 0.5s ease;
}

.active .toggler {
  margin-right: 0;
  transition: all 0.5s ease;
}

.sidepanel {
  width: 65px;
  transition: all 0.5s ease;
}

.sidepanel.active {
  width: 250px;
  transition: all 0.5s ease;
}